{% extends 'page_default.html.twig' %}
{% block page_title %}{{ page_data.title }}{% endblock %}
 {% block main %}
  <article class="block block--page-view page-view page-{{ page_data.page.id }}">
    <div class="block-content">
      <div class="fields fields-top">
        <div class="field field-image">{{ page_data.image|image_style('480x480-crop') }}</div>
        <div class="field field-body">{{ page_data.fieldBody.body }}</div>
        <div class="list-link">
          {% if page_data.category %}
            {% set category = "term." ~ page_data.category.machineName %}
          <div class="list-link-item page-category"> {{ category|trans }}</div>
          {% endif %}
          <div class="list-link-item page-created">{{ page_data.created|date('d-m-Y') }}</div>
        </div>
      </div>
      <div class="field field-comment-workflow">
        <div class="comment-preview">
          <h2 class="comment-title">Comments Unpublished</h2>
          <div class="list">
            {% for item in page_data.page.commentUnpublished %}
              <div class="list-item">
                {{ include('Comments/ViewMode/teaser.html.twig', {'item' : item }) }}
                <ul>
                  <li><a href="{{ path('comment_view', { 'id' : item.id }) }}">Workflow</a></li>
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="field field-comments">
        <div class="comment-preview">
          <h2 class="comment-title">Comments</h2>
          {{ form(comment_form) }}
          <div class="list">
            {% for item in page_comments %}
              <div class="list-item">
                {{ include('Comments/ViewMode/teaser.html.twig', {'item' : item }) }}
                <ul>
                  <li><a href="{{ path('comment_edit', { 'id' : item.id }) }}">Edit</a></li>
                  <li><a href="{{ path('comment_delete', { 'id' : item.id }) }}">Delete</a></li>
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </article>

 {% endblock %}